DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres
DATABASE_POOLER_URL=postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-eu-west-2.pooler.supabase.com:6543/postgres?sslmode=disable
FRONTEND_URL=https://wheretowork.vercel.app
FRONTEND_URLS=http://localhost:3000
PORT=8000
